container_commands:
  01-install-packages:
    command: "php composer.phar install"
	cwd: "/var/app/ondeck"
  02-self-update:
    command: "php composer.phar self-update"
	cwd: "/var/app/ondeck"
  03-update:
    command: "php composer.phar update"
	cwd: "/var/app/ondeck"
  04-dump-autoload:
    command: "php composer.phar dump-autoload --optimize"
	cwd: "/var/app/ondeck"