container_commands:
  01-setup-composer:
    command: "curl -s http://getcomposer.org/installer | php"
    cwd: "/var/app/ondeck"
  02-install-packages:
    command: "php composer.phar install"
    cwd: "/var/app/ondeck"
  03-self-update:
    command: "php composer.phar self-update"
    cwd: "/var/app/ondeck"
  04-update:
    command: "php composer.phar update"
    cwd: "/var/app/ondeck"
  05-dump-autoload:
    command: "php composer.phar dump-autoload --optimize"
    cwd: "/var/app/ondeck"